* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rounded_Elegance", sans-serif;
    src: url('/fonts/Rounded_Elegance.ttf') format('ttf');
    color: #343a40;
    background-color: white;
}

header{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #154B5F;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.header-story{
    background-color: #512B47;
    padding: 1em;
    border-radius: 90px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: solid #281423 1px;
}

/*.header-story:hover{ 
    background-color: ;
}*/

.header-logo{
    display: flex;
    align-items: center;
}

header a{
    text-decoration: none;
    color: white;
}

.a-droite a{
    justify-content: space-around;
}


.footer{
    background-color: #154B5F;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right{
    text-align: end;
}

.footer-right a{
    text-decoration: none;
    color: white;
}

main{
    min-height: 80vh;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
}


/* CSS pour le formulaire */
/* Styles spécifiques au formulaire de contact */
.contact-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}




/*CSS pour le formulaire d'enregistrement*/
/* Styles spécifiques au formulaire de connexion */
.wrap {
    max-width: 400px;
    margin: 20px auto;
}

.login-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.form-header {
    text-align: center;
}

.form-header h3 {
    margin: 0;
}

.form-header p {
    margin: 10px 0;
    color: #555;
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form-button:hover {
    background-color: #45a049;
}

.form-footer {
    text-align: center;
    margin-top: 20px;
}

.form-footer a {
    color: #4caf50;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}



/*Formulaire de modification de commentaires*/
.comment-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-form .form-header {
    text-align: center;
    margin-top: 2rem;
}

.comment-form .form-header h3 {
    margin: 0;
}

.comment-form hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.comment-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.comment-form input[type="text"],
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.comment-form input[type="hidden"] {
    display: none;
}

.comment-form .form-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-form .form-button:hover {
    background-color: #45a049;
}

.comment-form .error-messages {
    color: #ff0000;
    margin-bottom: 10px;
}