* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #343a40;
    height: 100vh;
}

menu {
    background: linear-gradient(to bottom, #a792ff, #ffffff); /* Dégradé du mauve au blanc */
    display: flex;
    align-items: center;
    gap: 12px;
    top: 0;
    position: sticky;
    z-index: 1000;
    padding: 50px 40px;
}

button {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    background-color: #dfd8fa;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 6px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

h1 {
    font-size: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}


button:last-child {
    background-color: #ffc5fc;
    margin-left: auto;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    background-color: #eaeaea;
    padding-bottom: 25px;
}

a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #1098ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}

.a-droite {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}

img {
    width: 350px;
    height: auto;
}

.divScene {
    margin-bottom: 20px;
    text-align: center; /* Center the child elements */
}

.scene {
    text-align: center;
    margin: 5px 5px 5px 5px;
    min-width: 250px;
    min-height: 225px;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 10px;
}

.paraScene {
    font-weight: bold;
}

.form {
    margin-left: 15px;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.logo {
    width: 200px;
    height: auto;
}