@font-face {
    font-family: "Rounded_Elegance";
    src:
            local("Rounded_Elegance");
    src: url("../fonts/Rounded_Elegance.ttf") format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rounded_Elegance";
    /*src: url('/fonts/Rounded_Elegance.ttf') format('ttf');*/
    color: #343a40;
    background-image: url('/public/storage/images/motif_readdrasil_2_low.png');
    background-repeat: repeat;
    background-size: 100%;
}

.welcome {
    padding: 20px; /* Ajoute un espace intérieur à la div au lieu d'utiliser une marge */
    background-clip: inherit; /* Positionne le fond uniquement dans la zone de contenu (sans considérer le padding) */
}


header{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #154B5F;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    box-shadow: -3px 4px 13px 2px rgba(12, 32, 39, 0.36);
    margin-bottom: 24px;
}

.header-story{
    background-color: #512B47;
    padding: 1em;
    border-radius: 90px;
    border: solid #281423 1px;
    text-decoration: none;
    color: white;
    margin-bottom: 16px;
}

.header-story:hover{
    background-color: #ebbdec;
}

.header-logo{
    display: flex;
    align-items: center;
    width: 20%;
    margin-right: 20%;
}

header a{
    text-decoration: none;
    color: white;
}

.a-droite a{
    justify-content: space-around;
}

.logo-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.welcome-login{
    margin-top: 16px;
    text-align: center;
    margin-bottom: 32px;
    font-size: 24px;
}

.footer{
    background-color: #154B5F;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.footer-left div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-middle{
    font-size: 32px;
}

.footer-right{
    padding-top: 3%;
    text-align: end;
}

.footer-right a{
    text-decoration: none;
    color: white;
}

main{
    min-height: 80vh;
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
}


/*CSS pour l'affichage global des livres*/
.choix-histoires{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.green{
    background-color: #66BB8D;
}

.blue{
    background-color: #65B9BD;
}

/*.selec-genre{
    background-color: #154B5F;
}*/

.histoires-total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 340px;
    height: 500px;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 3px 9px 15px -3px rgba(0,0,0,0.4);
}

.show-histoire{
    background-color: #65B9BD;
}

#pitch{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.histoires-total img{
    width: 180px;
}

.histoires-link{
    background-color: #512B47;
    padding: 20px 50px 20px 50px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 32px;
    transition: transform 0.3s ease;
}

.histoires-link:hover{
    background-color: #154B5F;
    transform: scale(1.1);
}

.story-title{
    font-size: 48px;
    font-weight: 600;
}

.story-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0 16px 0;
}

.story-pic img{
    width: 700px;
    border-radius: 16px;
}

.story-pitch{
    font-size: 32px;
    text-align: center;
    margin-bottom: 16px;
}

.story-pitch strong{
    color: black;
}

.lecture-book{
    margin-bottom: 32px;
    margin-top: 32px;
}

.avis-histoires{
    width: 800px;
    display: block3;
    flex-direction: column;
    padding: auto;
    margin: auto;
    text-align: left;
}

.modif-com{
    margin-top: 8px;
    margin-bottom: 16px;
}

.form-com{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

/* CSS pour le formulaire */
/* Styles spécifiques au formulaire de contact */
.contact-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}

/*CSS pour le formulaire d'enregistrement*/
/* Styles spécifiques au formulaire de connexion */
.wrap {
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

.wrap img{
    width: 96px;
}

.affichage-avatar{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.avatars{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 9px;
    padding: 16px;
    width: 33%;
    margin-left: 2%;
    margin-right: 2%;
}

.avatars-com{
    width: 96px;
    display: flex;
    align-self: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.login-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.form-header {
    text-align: center;
}

.form-header h3 {
    margin: 0;
}

.form-header p {
    margin: 10px 0;
    color: #555;
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form-button:hover {
    background-color: #45a049;
}

.form-footer {
    text-align: center;
    margin-top: 20px;
}

.form-footer a {
    color: #4caf50;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}



/*Formulaire de modification de commentaires*/
.comment-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-form .form-header {
    text-align: center;
    margin-top: 2rem;
}

.comment-form .form-header h3 {
    margin: 0;
}

.comment-form hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.comment-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.comment-form input[type="text"],
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.comment-form input[type="hidden"] {
    display: none;
}

.comment-form .form-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-form .form-button:hover {
    background-color: #45a049;
}

.comment-form .error-messages {
    color: #ff0000;
    margin-bottom: 10px;
}



/* Code CSS pour la page 404 */
.error-container {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error-content {
    text-align: center;
}

.error-message {
    font-size: 2em;
    color: #333;
}

.error-description {
    font-size: 1.2em;
    color: #555;
    margin-top: 10px;
}

/* Ajuster la marge du bouton et retirer la marge supérieure */
.back-to-home {
    margin-top: 10px; /* Ajuster la marge pour éviter le chevauchement */
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ef98ee;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block; /* Ajouter cette propriété pour empêcher le chevauchement */
}

.back-to-home:hover {
    background-color: #ebbdec;
}

.main-container {
    text-align: center;
}

.imgErreur404 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: auto;
}

/*Page de l'équipe*/

.equipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.equipe img{
    width: 100px;
    margin-bottom: 16px;
}

.grid-equipe{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.equipe-membre{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f3ebeb;
    border: solid black 1px;
    border-radius: 9px;
    padding: 16px;
    margin: 16px;
}

.equipe-membre img{
    width: 300px;
    border-radius: 16px;
    align-self: center;
}

/*bouton accés profil*/
.bouton-profile{
    background-color: #512B47;
    padding: 1em;
    border-radius: 90px;
    border: solid #281423 1px;
    text-decoration: none;
    color: white;
}

/*page profile*/

.titre{
    font-size: 16px;
    font-weight: 600;
    color: #281423;
}

.pitch{
    text-align: center;
    color: white;
    font-weight: 400;
}

.intro-profile{
    display: flex;
    text-align: left;
    align-items: center;
    width: 650px;
    border: solid grey 1px;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.intro-profile img{
    width: 200px;
}

.intro-profile p{
    font-size: 32px;
}

.avis-profile{
    background-color: #f3ebeb;
    margin: 0 0 16px 0;
    border: solid black 1px;
    border-radius: 9px;
    padding: 12px;
}

.avis-titre{
    color: #281423;
    font-weight: 600;
}

.bouton-coms{
    background-color: #512B47;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-radius: 32px;
    transition: transform 0.3s ease;
}

.bouton-coms:hover{
    background-color: #154B5F;
    transform: scale(1.1);
}

/*chapitres*/

.reponse-chap{
    display: flex;
    justify-content: center;
}

.reponse-chap a{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.img-chap{
    min-width: 500px;
    max-width: 700px;
}

.texte-chap{
    margin-top: 16px;
    margin-bottom: 16px;
}

/*select genre histoire*/
select {
    margin-top: 16px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px; /* Ajustez la largeur selon vos besoins */
}

/* Style pour les options du select */
select option {
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

/* Style pour l'option par défaut sélectionnée */
select option[value="All"] {
    font-style: italic;
    color: #999;
}


/*voir les chapitres écrits*/
.chapitres-container {
    margin-top: 20px;
}

.chapitres-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.chapitres-ecrits {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.chapitres-ecrits th,
.chapitres-ecrits td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.chapitres-ecrits th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.button-encours{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.avis-encours{
    margin-top: 8px;
    margin-bottom: 4px;
    border: solid gainsboro 1px;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 4px 6px 16px 0px rgba(0,0,0,0.3);
}